@import "./skills-bg";

.skills {
  @include widthHeight(100%, calc(100vh - 70px));

  @include flex-center;
  position: relative;
  margin-bottom: 150px;

  &__wrapper {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 8;
  }

  &__grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 45%);
    gap: 5%;
  }

  &__card {
    max-width: 300px;
    margin: 0 auto;

    padding: 20px 0;
    @include flex-evenly;
    @include transition;
    flex-direction: column;

    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 1px #b1c8da8a;
    box-shadow: 5px 5px 15px 1px #b1c8da8a;
    background-color: $main-color;

    position: relative;

    &:hover {
      scale: 1.1;
    }

    &--circle {
      //   padding-bottom: 10px;
      width: 110px;
      height: 150px;
      @include flex-center;
      border-radius: 50%;
      position: relative;
    }

    &--logo {
      position: absolute;
      top: 0;
      left: 0; //absolute
      z-index: 2;

      font-size: 100px;
      opacity: 0.1;
    }

    &--percent {
      font-size: 20px;
      font-weight: $large;
      letter-spacing: 1px;
      // color: $main-color;

      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3;
      //   color: $main-color;
    }

    // &--percent:last-child {
    //   position: relative;
    // }
  }

  &__info-head {
    font-size: $em-1-5;
    // text-transform: uppercase;
    font-weight: $mid;
  }

  &__info-text {
    // height: 300px;
    // height: 250px;
    // text-overflow: ellipsis;
    padding: 0 50px;
    text-align: justify;
    font-weight: $mid;
    line-height: 25px;
    font-family: $side-font;
    letter-spacing: 1.5px;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3; /* number of lines to show */
    // line-clamp: 3;
    // -webkit-box-orient: vertical;
  }

  &__info-text:hover {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    height: auto;
  }

  //   &__info-text:hover &__card {
  //     height: 400px;
  //   }
}

.c {
  &--1 {
    // @include widthHeight(70px, 70px);
    // @include flex-center;
    // background-color: #e4392650;
    // border: 5px #e43926 solid;
    // -webkit-text-stroke: 1px #e43926;
    // border-radius: 50%;

    @include cardsCircle(#e43926, #e4392620);
  }

  &--2 {
    @include cardsCircle(#2545c2, #2545c220);
  }

  &--3 {
    @include cardsCircle(#e7b228, #e7b22820);
  }

  &--4 {
    @include cardsCircle(#f05033, #f0503320);
  }

  &--5 {
    @include cardsCircle(#cd6799, #cd679920);
  }

  &--6 {
    @include cardsCircle(#63cb53, #63cb5320);
  }
}
