/*colors*/
$black: #1b1b21;
$pink: #ff7dd4;
$orange: #fe8754;
$purple: #6b6bfa;
$green: #63cb53;
// $blackish: #10101490;
// $black-transp: #1010142c;
// $white: #ffffff;
// $whitish: #ecececd2;
// $white-transp: #e6e6eb2d;
// $orange: #c66600;
// $grey: #3b3b3b1f;

$main-color: #e3f1fd;

/*sizes*/
$s-50: 50px;
$s-100: 100px;
$s-200: 200px;
$s-300: 300px;
$s-350: 350px;
$s-400: 400px;

/*font*/
$main-font: "Poppins", sans-serif;
$side-font: "Montserrat", sans-serif;

/*font-size*/
$regular: 400;
$mid: 500;
$large: 600;

/*margin/padding*/
$auto: auto;
$em-05: 8px;
$em: 16px;
$em-1-5: 24px;
$em-2: 32px;
$em-2-5: 40px;
$em-3: 48px;
