.contact__bg {
  width: 100%;
  position: absolute;
  z-index: 2;
  filter: blur(40px);

  &__circle {
    &-1 {
      @include widthHeight(70px, 70px);
      @include circle-config($pink, 4);
      top: 70px;
      left: 150px;
    }

    &-2 {
      @include widthHeight(100px, 100px);
      @include circle-config($orange, 3);
      bottom: -70px;
      left: 60px;
    }

    &-3 {
      @include widthHeight(100px, 100px);
      @include circle-config($purple, 3);
      bottom: 40px;
      right: 40px;
    }

    &-4 {
      @include widthHeight(70px, 70px);
      @include circle-config($green, 4);
      top: -50px;
      right: 15px;
    }

    &-5 {
      @include widthHeight(90px, 90px);
      @include circle-config($pink, 4);
      top: 40px;
      right: 300px;
    }

    &-6 {
      @include widthHeight(70px, 70px);
      @include circle-config($green, 4);
      bottom: 40px;
      left: 300px;
    }
  }
}
