.heropage {
  &__bg {
    position: absolute;

    @include widthHeight(100%, 100%);
    filter: blur(45px);
    z-index: 2;
  }

  &__circle {
    &1 {
      @include widthHeight(200px, 200px);
      @include circle-config($purple, 3);
      top: 350px;
      left: 170px;
    }

    &2 {
      @include widthHeight(300px, 300px);
      @include circle-config($pink, 2);
      top: 140px;
      left: 70px;
    }

    &3 {
      @include widthHeight(100px, 100px);
      @include circle-config($green, 4);
      top: 450px;
      left: 330px;
    }

    &4 {
      @include widthHeight(150px, 150px);
      @include circle-config($orange, 2);
      right: 40px;
      top: 90px;
    }

    &5 {
      @include widthHeight(100px, 100px);
      @include circle-config($purple, 3);
      right: 140px;
      top: 75px;
    }

    &6 {
      @include widthHeight(100px, 100px);
      @include circle-config($green, 4);
      top: 225px;
      right: 50px;
    }

    &7 {
      @include widthHeight(120px, 120px);
      @include circle-config($purple, 3);
      top: 500px;
      right: 270px;
    }

    &8 {
      @include widthHeight(90px, 90px);
      @include circle-config($orange, 4);
      right: 350px;
      top: 550px;
    }

    &9 {
      @include widthHeight(70px, 70px);
      @include circle-config($pink, 4);
      right: 30%;
      top: 10px;
    }

    &10 {
      @include widthHeight(70px, 70px);
      @include circle-config($green, 5);
      right: 35%;
      top: 0px;
    }
  }
}
